#Content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}


.figure_5{
    display: flex !important;
    width: 40%;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute; 
    z-index: -1;
    top: -4rem;
    right: -4rem;
}

.figure_6{
    display: flex !important;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute; 
    z-index: -1;
    left: 6rem;
    top: 1rem;
}

.figure_7{
    display: flex !important;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute; 
    z-index: -1;
    left: 8rem;
    top: 2rem;
}

.figure_8{
    display: flex !important;
    width: 100%;
    justify-content: flex-start;
    position: absolute; 
    z-index: -1;
    top: 13rem;
    left: 2rem;
  
}

.figure_9{
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    position: absolute; 
    z-index: -1;
    top: 8rem;
}

.figure_10{
    display: flex !important;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    z-index: -1;
    top: -1rem;
    right: 15rem;
    
}

@media (min-width: 2560px) {
    
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    #triangule{
        width: 60%;
    }

    #skills > img {
        width: 40%;
    }

    .figure_5{
        width: 40%;
        top: -3rem;
        right: -3rem;
    }
    
    .figure_6{
        left: 6rem;
        top: 1rem;
    }
    
    .figure_7{
        left: 8rem;
        top: 4rem;
    }
    
    .figure_8{
        top: 13rem;
        left: 2rem;
    }
    
    .figure_9{
        top: 8rem;
    }
    
    .figure_10{
        top: -2rem;
        right: 8rem;
    }

    #circle_1{
        width: 3rem;
    }

    #Elipse {
        width: 4rem;
    }
}

@media (max-width: 426px) {
    #triangule{
        width: 60%;
    }

    #skills > img {
        width: 40%;
        margin-left: 4rem;
    }

    .figure_5{
        width: 40%;
        top: -3rem;
        right: -3rem;
    }
    
    .figure_6{
        left: 4rem;
        top: 1rem;
    }
    
    .figure_7{
        left: 2rem;
        top: 4rem;
    }
    
    .figure_8{
        top: 13rem;
        left: 2rem;
    }
    
    .figure_9{
        top: 8rem;
    }
    
    .figure_10{
        top: -2rem;
        right: 8rem;
    }

    #circle_1{
        width: 2rem;
    }

    #Elipse {
        width: 3rem;
    }

    .swiper {
        width: 80% !important;
        padding-bottom: 4px !important;
    }

}

@media (max-width: 376px) {

    .figure_5{
        width: 40%;
        top: -2rem;
        right: -2rem;
    }
    
    .figure_6{
        left: 2rem;
        top: 1rem;
    }
    
    .figure_7{
        left: 1rem;
        top: 5  rem;
    }
    
    .figure_8{
        top: 13rem;
        left: 2rem;
    }
    
    .figure_9{
        top: 4rem;
    }
    
    .figure_10{
        top: 8rem;
        right: 2rem;
    }

}

@media (max-width: 320px) {
    #circle_1{
        width: 1.5rem;
    }

    #Elipse {
        width: 2rem;
    }
}






