.Container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#home{
    margin-top: 5rem;
}

.container_1 {
    margin-left: 10rem; 
    width: 55%;
    z-index: 10;
}

.container_2 {
    width: 45%;
    z-index: 10;
}

#code {
    width: 80vh;
    margin-right: 10rem;
}

.Titles > h1 {
    font-size: 3.8rem;
}

.Titles > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;

}

  .figure {
    display: flex !important;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute; 
    z-index: 5;
    }

    .figure_2 {
    display: flex !important;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute; 
    top: 4rem;
    left: 4rem;
    z-index: 5;
    }

    .figure_3 {
        display: flex !important;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute; 
        top: 12rem;
        left: 4rem;
        z-index: 5;
    }

    .figure_4 {
        display: flex !important;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute; 
        top: 4rem;
        left: 30rem;
        z-index: 5;
    }

    
    #wave {
        width: 70%;
    }

