
.mb-3.active{
background-color: var(--bg-color);
}


#Nav {
    color: var(--color-text) !important; 
    font-size: 1.2rem;
}

#Nav:hover {
    background-color:var(--second-color) ;
    border-radius: 10px;
}

.active {
    background-color:var(--second-color) ;
    border-radius: 10px;
    color: var(--color-text);
    text-decoration: none;
}

#Logo {
    width: 45%;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

.Hambuguer_menu {
    background: var(--bg-color) !important;
}




@media (min-width: 2560px) {

    #Logo {
        width: 60%;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    #Nav {
        font-size: 2.5rem;
    }

}

@media (max-width: 1440px) {

    #Logo {
        width: 60%;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    #Nav {
        font-size: 2rem;
    }

}

@media (max-width: 768px) {

    #Logo {
        width: 40%;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    #Nav {
        font-size: 1rem;
    }

}

@media (max-width: 425px) {

    #Logo {
        width: 40%;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    #Nav {
        font-size: 1rem;
    }

}

@media (max-width: 375px) {

    #Logo {
        width: 30%;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    #Nav {
        font-size: 1rem;
    }

}

@media (max-width: 320px) {

    #Logo {
        width: 30%;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    #Nav {
        font-size: 1rem;
    }

}



