.container-f {
  width: 100%;
  display: flex;
  flex-direction: column;


}

.icons-f {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#icon-f {
    width: 40px;
} 

#icon-f:hover {
    transform: scale(1.5);
}

#text_1 {
    display: flex;
    justify-content: center;
}

@media (min-width: 2560px) {
    
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}